<div class="container col-6">
  <h1>burgers!</h1>
</div>

<div class="container col-6">
  <h2>burgers that have not been devoured!</h2>
</div>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burgers-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burgers-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add your own Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  </div>
  <button type="submit">Add burger</button>
</form>

<h2>Add your Favorite Bobs Burgers Burger!</h2>

<form class="pre-sel" id="burger-form">
  {{!-- button for pretyped out burgers --}}
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="burger" id="burger1" value="burger1" checked>
    <label class="form-check-label" for="inlineRadio1">burger1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="burger" id="burger2" value="burger2">
    <label class="form-check-label" for="inlineRadio2">burger2</label>
  </div>
  <button id="add-burger" type="submit">Add burger</button>
</form>