body{
  background-color: rgb(133, 133, 133);
  
}

li {
  padding: 5px;
  margin: 5px;
  background: #b4b4b4;
  list-style-type: none;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

ul{
  list-style-type: none;
}


