<li>
	{{name}}
	{{#if devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Eat ME!
	</button>
	{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
