<li>
	{{name}}
	{{#if devoured}}
	<br>
	<button class="change-devoured btn btn-info" data-id="{{id}}" data-newdevoured="{{devoured}}">
		EAT ME!
	</button>
	{{/if}}

	<button class="delete-burger btn btn-info" data-id="{{this.id}}">DELETE!</button>

</li>


